---
import MainLayout from "../layouts/MainLayout.astro";
import { getEntry } from "astro:content";
const home = await getEntry("pages", "home");

if (!home) {
  throw new Error("Home page not found");
}
---

<MainLayout>

<h1 class="text-5xl font-bold text-red-600">
  {home.data.heroTitle}
</h1>

<p>{home.data.heroText}</p>

 <h2 class="text-4xl font-bold">
      {home?.data.servicesTitle}
    </h2>

    <p class="mt-5">
      {home?.data.servicesContent}
    </p>

</MainLayout>