---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>

<h1 class="text-5xl font-bold text-red-600">
  Hello Astro Tailwind test
</h1>

<p>Welcome to my website.</p>
<button class="bg-blue-500 p-5 rounded-lg">
Button
</button>

</MainLayout>